
@{
    ViewBag.Title = "FAQ";
}

<!-- FAQ Section -->
<div class="w3-container w3-padding-32">
    <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16">FAQ</h1>


</div>

<div style="width:70%; margin-left: 10%">
    <h2><b>Why would I want to use a sleeping bag instead of baby blankets?</b></h2>
    <p>Baby sleeping bags provide the perfect mix of comfort, safety & convenience for both baby and caregiver. Because the baby is essentially wearing their blanket, you are assured that they are consistently warm and free from becoming entangled in their bedding. And when babies sleep longer and peacefully, so does the whole household! Additionally, Baby in a Bag™ is designed to safely replace costly bedding, which makes it an exceptional value as well.</p>

    <h2><b>What size should I buy for my baby?</b></h2>
    <p>Sizing page with chart provides clear guidelines to pick the appropriate size for your baby. The general rule of thumb is to wait until your child is at least 10 lbs, and then begin with a size small (10-18 lbs.). While we understand that some parents may be tempted to economize and buy a larger size for their child to "grow into", please understand that this compromises the safety of the baby! The Baby in a Bag™ sizing guidelinses are based on the average weight of children in a particular age range, and are structured to allow for a comfortable fit without risking the baby slipping down inside the bag. If your child falls outside of average weight guidelines for their age, do not hesitate to contact us so we can suggest the best size for your baby. Correct sizing is paramount to the comfort and safety of your baby, and we want you to feel 100% assured that you've made the right choice</p>

</div>

