@using System.Configuration
@{
    ViewBag.Title = "GetPayPalData";
}

<h2>Message: @ViewBag.status_message</h2>
<h1>Name: @ViewBag.name</h1>

<h2>Encoded Response</h2>
@ViewBag.encoded_response

<hr />

<h2>Decoded Response</h2>
@ViewBag.decoded_response



