@using BabyInABagServer.Models
@using System.Configuration
@model IEnumerable<Product>
@{
    ViewBag.Title = "GetPayPalData";
}

<h2 style="text-align:center;">Thank you for your Payment!</h2>
<div style="text-align:center">
    <img src="~/images/checkmark_success.gif" />
</div>
<hr />

